* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #Ffff00;
    --color2: #293250;
    --color3: #008080;
    --color4: rgba(0, 128, 128, .3);
    --color5: rgba(0, 128, 128, .6);
}

body {
    text-align: center;
}

header {
    background-color: var(--color2);
    color: var(--color1);
    padding: 20px;
    align-content: flex-start;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 20%;
    margin: 10px auto;
    padding: 10px 0;
}

#high-scores {
    text-align: left;
}

#timer {
    text-align: right;
}

a:link, a:visited {
    color: var(--color1);
    background-color: var(--color2);
}

.hide {
    display: none;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

