* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #Ffff00;
    --color2: #293250;
    --color3: #008080;
    --color4: rgba(0, 128, 128, .3);
    --color5: rgba(0, 128, 128, .6);
}

body {
    text-align: center;
}

.choice-list {
    padding: 20px;
}